
.container {
  text-align: center;
}
.products{
  display: flex;
  flex-direction:row;
  flex-wrap:wrap;
  justify-content: center;
  text-align: center;
  background-color: #4158D0;
  background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
  width: 95%;
  padding: 10px;
  border-radius: 10px;
  margin:  10px auto;
  box-shadow: 2px 2px 300px #ffffff;

}
.product{
  margin: 100px;
  padding: 10px;
  background-color: rgb(29, 25, 25);
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
    width: 200px;
  margin: 100px auto ;
  text-align: center;
  color: white;
  border-radius: 10px;
}

.product-img{
  width: 100px;
  border-radius: 50px;
}